
<div class="col-md-12">
    <div class="row">
        <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
    </div>
    <div class="row">
        <h1>Error</h1>
    </div>
    <div class="row">
        <h2>An error occurred while processing your request</h2>
    </div>
</div>
